@charset "utf-8";
.codup_list_header .o_list_view > tbody tr[style="font-weight: bold;"]
{
    background-color: #EDEDED;
    background-image: linear-gradient(to bottom, #FCFCFC, #DEDEDE);
}
.openerp .oe_list_editable .oe_list_content > thead th[data-id="sequence"]{
    width: 8px;
}
.openerp td.oe_form_invisible + td .codup_readonly_image:hover div.oe_form_field_image_controls {
    display: none;
}
.openerp .codup_sign > img {
    width: 235px;
    height: 65px;
    max-width: 235px;
    max-height: 65px;
}
.codup_list_image td[data-field="image_medium"] {
    color: transparent;
}
.codup_list_image td[data-field="image_medium"] a {
    display: none;
}
.openerp .codup_list_image .oe_list_editable input.oe_form_binary_file {
    width: 100px;
    max-width: 100px;
}
.codup_list_image .o_list_editable  thead th[data-id="image_medium"]{
    width: 100px;
}
.codup_list_image .o_list_editable  thead th[data-id="image_medium"] + th{
    width: 0;
}
.codup_list_image .o_list_editable .o_list_button button{
    margin-left: -30px;
}
.codup_photo .o_form_image_controls {
    width: 100px;
    max-width: 100px;
}
.codup_photo img{
    width: 100px;
    max-width: 100px;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
}
.codup_readonly_photo:hover div.o_form_image_controls {
    display: none;
}
.codup_readonly_photo img {
    border: none;
    width: 100%;
}
.codup_readonly_photo {
    text-align: center;
}